<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>swper</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container  [breakpoints]="{
    '360':{
      'slidesPerView':4,
      'spaceBetween':10,
    },
    '760':{
      'slidesPerView':5,
      'spaceBetween':10,
    },
    '1221':{
      'slidesPerView':6,
      'spaceBetween':10,
    },
    

  }">
    <swiper-slide></swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>
    <swiper-slide>Slide4</swiper-slide>


  </swiper-container>

</ion-content>
