

<ion-content [fullscreen]="true">
  <ion-list class="a">

    <ion-list class="b">
      <ion-list class="c">
        <ion-list class="c1">
          <ion-icon class="c11" name="person-circle-outline"></ion-icon>
        </ion-list>
        
<ion-input class="c2" type="text" placeholder="User Name"></ion-input>
<ion-input class="c3" type="text" placeholder="Last Name"></ion-input>
<ion-input class="c4" type="text" placeholder="Email Address"></ion-input>
<ion-input class="c5" type="password" placeholder="Password"></ion-input>

<ion-button class="d" color="light"><p>Sign Up</p></ion-button>
<ion-list class="e"><p>Sign Up With</p></ion-list>



      </ion-list>
    </ion-list>
    <ion-fab  class="plus">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>



</ion-content>
