*{
    font-family: 'raleway','nunito sans';
    user-select: none;
}
.main{
    height: 100%;
    width: 100%;
}
.a{
    height: 75px;
    width: 75px;
    border: solid 5px white;
    border-radius: 75px;
}
.imga{
    height: 75px;
    width: 75px;
    border-radius: 75px;
}
.a1{
    height: 85px;
    width: 135px;
    border:  1px;
    float: left;
    margin: 2px;
    margin-top: auto;
}
.ap{
    font-size: 25px;
    font-weight: bold;
    margin-top: 2px;
    line-height: 1.3;
}
.ap1{
    font-size: 20px;
    font-weight: lighter;
}
.aa{
    height: 70px;
    width: 130px;
    border:  1px;
    float: right;
}
@media screen and (min-width:768px) {
    .aa{
        width: 150px;
    }
    .aa2{
        margin: 10px;
    }
    .ap{
        margin-top: 12px;
    }

   
    .ccc{
        border: solid 1px;
        transition: all 0.3s ease;
    }
    .ccc:hover{
        transform: scale(1.1);
    }
    
}

.aa1{
    height: 40px;
    width: 40px;
    border:  1px;
    float: right;
    border-radius: 50px;
    background-color: rgba(135, 207, 235, 0.473);
    margin-top: 7px;
}
.aa2{
    height: 40px;
    width: 40px;
    border:  1px;
    float: right;
    border-radius: 50px;
    margin: 2px;
    background-color: rgba(135, 207, 235, 0.473);
    margin-top: 7px;

}
.ai{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.imgc{
    height: 40px;
    width: 100%;
}
.imgcc{
    height: 50px;
    width: 100%;
}
.imgcc1{
    height: 110px;
    width: 100%;
}
.c1{
    height: 60px;
    width: 140px;
    border:  1px;
}
// .c1{
//     height: 105px;
//     width: 140px;
//     border: solid 1px;
// }
.cp{
    font-size: 16px;
    font-weight: bold;
    margin-top: -5px;
    line-height: 1.6;
}
.cp1{
    font-size: 16px;
    font-weight: lighter;
}
.c2{
    height: 40px;
    width: 70px;
    border:  1px;
    float: right;
    margin-top: 1px;
    border-radius: 15px;
    background-color: #f9f9f9;
}
.cp2{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}
.c3{
    height: 40px;
    width: 129px;
    border:   1px;
}
.cp3{
    font-size: 22px;
    font-weight: bold;
    margin-top: 1px;
    
}
.cb{
    float: right;
}

.p{
    color: #f9f9f9;
    transition: all 0.3s ease;
}
.p:hover{
    transform: scale(1.1);
}
.y{
    color: white;
}