

<ion-content [fullscreen]="true">
  <ion-list class="a">
  <ion-list class="b"><p>SOOSALAP</p></ion-list>
  <ion-avatar class="c">
    <img alt="" src="./1st.jpeg" />
  </ion-avatar>
  <ion-list class="d">
    <ion-avatar class="d3">
      <img alt="" src="./6th.jpeg" />
    </ion-avatar>
    <ion-avatar class="d4">
      <img alt="" src="./4th.jpeg" />
    </ion-avatar>
    <ion-list class="d5"><p>Let's <br> Connect <br> Together</p></ion-list>
  </ion-list>
  <ion-avatar class="d1">
    <img alt="" src="./2nd.jpeg" />
  </ion-avatar>
  <ion-avatar class="d2">
    <img alt="" src="./3rd.jpeg" />
  </ion-avatar>
  <ion-button class="e" color="transparent" shape="round"><p>Log In</p></ion-button>
  <ion-button class="f" color="transparent" shape="round"><p>Sign Up</p></ion-button>

  </ion-list>

</ion-content>
