*{
    font-family: 'raleway','nunito sans';
    user-select: none;
}
.main{
    height: 100%;
    width: 100%;

}
.see-more-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 38px;
    background-color: black;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 120px;
    border: none;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.see-more-btn:hover {
    background-color: #46ff8441;
}
.see-more-btn::before{
    content: "";
    position: absolute;
    background: linear-gradient(-45deg,yellow,rgb(0,254,0));
    height: 48px;
    width: 128px;
    border-radius: 22px;
    z-index: -1;
    inset: 0;
    left: -4px;
    top: -4px;
    transition: transform 1s cubic-bezier(0.4, 0.0, 0.2, 1);
}
.see-more-btn::after{
    content: "";
    background: linear-gradient(-45deg,yellow,rgb(0,254,0));
    position: absolute;
    transform: scale(0.95);
    filter: blur(20px);
    inset: 0;
    z-index: -1;
}
.see-more-btn:hover::after{
    filter: blur(30px);
}
.see-more-btn:hover::before{
    transform: rotate(-180deg);
}

.a{
    height: 45px;
    width: 80px;
    border:  1px;
}
.ap{
    font-size: 35px;
    font-weight: bold;
    margin-top: 3px;
}
.a1{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-top: 5px;
    
}
.ap1{
    font-size: 25px;
    text-align: center;
    margin-top: 5px;

}
.b{
    height: 120px;
    width: 100%;
    border:  1px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.315);
}
.b1{
    height: 110px;
    width: 80%;
    border:  1px;
    float: left;
    margin: 5px;
    margin-top: 1px;
    background: transparent;
}
.b2{
    height: 110px;
    width: 16%;
    border:   1px;
    float: right;
    background: transparent;
}
.bp1{
    font-size: 25px;
    font-weight: bold;
    margin-top: 2px;
    line-height: 1.5;
    margin: 5px;
    margin-top: -10px;
}
.bp2{
    font-size: 18px;
    // font-weight: lighter;
    line-height: 1.4;
    margin: 7px;
}
.b3{
    height: 50px;
    width: 50px;
    border:  1px;
    border-radius: 50px;
    background-color: blue;
    margin-top: 30px;
}
.bi{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:400px) {
    .b1{
        height: 110px;
        width: 80%;
        border:  1px;
        float: left;
        margin: 5px;
        margin-top: 1px;
        background: transparent;
    }
    .bp1{
        font-size: 23px;
        font-weight: bold;
        line-height: 1.5;
        margin: 5px;
        margin-top: 1px;
    }
    .bp2{
        font-size: 16px;
        // font-weight: lighter;
        line-height: 1.4;
        margin: 7px;
    }
}
@media screen and (max-width:361px) {
    .b1{
        height: 110px;
        width: 80%;
        border:  1px;
        float: left;
        margin: 5px;
        margin-top: -4px;
        background: transparent;
    }
    .bp1{
        font-size: 23px;
        font-weight: bold;
        line-height: 1.5;
        margin: 5px;
        margin-top: -6px;
    }
    .bp2{
        font-size: 16px;
        // font-weight: lighter;
        line-height: 1.3;
        margin: 7px;
    }
    .b3{
        height: 50px;
        width: 50px;
        border:  1px;
        border-radius: 50px;
        background-color: blue;
        margin-top: 20px;
        float: right;
    }
}
.c{
    height: 180px;
    width: 100%;
    border:  1px;
}
.cardc{
    height: 180px;
    width: 40%;
    border: solid 5px white;
    float: left;
    margin: auto;
    margin-top: -8px;
}
.imgc{
    height: 180px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .cardc{
        width: 25%;
    }
    .c1{
        width: 74%;
    }
    
}
.ion-list-overlay {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-65%, -40%);
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: white; 
    padding: 20px;
}
  .ci{
    height: 35px;
    width: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .c1{
    height: 124px;
    width: 59%;
    border:   1px;
    margin-top: -5px;
  }
  .cp{
    font-size: 20px;
    margin-top: -7px;
  }
  .cp1{
    font-size: 20px;
    margin-top: -6px;
  }
  .new{
    font-size: 20px;
    margin-top: -7px;
  }
  .c2{
    height: 50px;
    width: 59%;
    border:  1px;
  }
  .cc1{
    height: 50px;
    width: 35%;
    border: 1px;
    float: left;
    margin-top: -7px;
  }
  .cp2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 7px;
  }
  .da{
    height: 40px;
    width: 40px;
    border:   1px;
    border-radius: 100px;
    float: left;
    margin: 1px;
    margin-top: -7px;
}
.db{
    height: 40px;
    width: 40px;
    border:   1px;
    float: left;
    margin: 1px;
    margin-top: -7px;
    border-radius: 15px;
    background-color: rgba(173, 216, 230, 0.678);
}
.dbp{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-top: -2px;
}
.d2{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width:400px) {
    .c1{
        height: 124px;
        width: 59%;
        border:   1px;
        margin-top: -5px;
      }
      .cp{
        font-size: 17px;
        margin-top: 3px;
      }
      .cp1{
        font-size: 17px;
        margin-top: 3px;
      }
      .new{
        font-size: 17px;
        margin-top: 1px;
      }
      .c2{
        height: 50px;
        width: 59%;
        border:  1px;
      }
      .cc1{
        height: 50px;
        width: 35%;
        border:  1px;
        float: left;
        margin-top: -7px;
      }
      .cp2{
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
      }
      .da{
        height: 35px;
        width: 35px;
        border:   1px;
        border-radius: 35px;
        float: left;
        margin: 1px;
        margin-top: -7px;
    }
    .db{
        height: 35px;
        width: 35px;
        border:   1px;
        float: left;
        margin: 1px;
        margin-top: 3px;
        border-radius: 10px;
        background-color: rgba(173, 216, 230, 0.678);
    }
    .dbp{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-top: 1px;
    }
    .d2{
        height: 35px;
        width: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width:361px) {
    .cp{
        font-size: 17px;
        margin-top: -6px;
      }
      .cp2{
        font-size: 22px;
        font-weight: bold;
        margin-top: 6px;
      }
    .da{
        height: 35px;
        width: 35px;
        border:   1px;
        border-radius: 35px;
        float: left;
        margin: 1px;
        margin-top: -1px;
    }
    .db{
        height: 38px;
        width: 38px;
        border:   1px;
        float: left;
        margin: 1px;
        margin-top: -4px;
        border-radius: 15px;
        background-color: rgba(173, 216, 230, 0.678);
    }
    .dbp{
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        margin-top: -5px;
    }
}
.ff{
    background-color: lightblue;
    border-radius: 20px;
}
.ff1{
    font-size: 22px;
    font-weight: bold;
    text-align: start;
    margin-top: 5px; 
}
.ff2{
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    margin-top: 5px;

}
.f{
    font-size: 22px;
    font-weight: bold;
    text-align: start;
    margin-top: -15px;
}
.f1{
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    margin-top: -15px;

}
.f2{
    height: 60px;
    width: 100px;
    float: right;
    display: flex;
      justify-content: flex-end;
      margin-top: 1px;
}
.y{
    color: white;
}
.footer-icon {
    // margin-right: 10px;
    vertical-align: middle;
  }
  .o{
    height: 60px;
    width: 92%;
    background-color: wheat;
    border-radius: 20px;
    vertical-align: middle;
  }
  .o1{
    height: 40px;
    width: 40px;
  }
  // modal
  @media screen {
    .block {
        width: 100%;
        height: 420px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
      //   padding: 16px; /* Optional: add some padding */
      }
      
      ion-modal {
        --height: auto;
        border:  1px;
      }
      
      .shiplist {
        height: 35px;
        width: 100%;
        border:  1px;
      }
      
      .shipadd {
        font-size: 24px;
        margin-top: -6px;
        font-weight: bold;
      }
      .rowcl{
          margin-top: -30px;
      }
      .mainlist{
          width: 100%;
          // height: 80px;
          border:  1px;
      }
      .countrylist{
          width: 95%;
          margin-top: -15px;
      }
      .iconlist{
          height: 40px;
          width: 40px;
          border:  1px;
          float: right;
          border-radius: 50px;
          margin-top: -55px;
          margin-right: 20px;
          background-color: rgba(0, 0, 0, 0.164);
      }
      .icon{
          height: 35px;
          width: 35px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
      .addresslist{
          width: 95%;
          margin-top: -15px;
      }
      .btn{
          align-items: flex-end;
        justify-content: flex-end;
      }
      @media screen and (max-width:400px) {
        .block {
            width: 100%;
            height: 420px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          //   padding: 16px; /* Optional: add some padding */
          }
          
          ion-modal {
            --height: auto;
            border:  1px;
          }
          
          .shiplist {
            height: 35px;
            width: 100%;
            border:  1px;
          }
          
          .shipadd {
            font-size: 24px;
            margin-top: -3px;
            font-weight: bold;
          }
          .rowcl{
              margin-top: -10px;
          }
          .mainlist{
              width: 100%;
              height: 52px;
              border:  1px;
          }
          .countrylist{
              width: 95%;
              margin-top: -10px;
          }
          .iconlist{
              height: 40px;
              width: 40px;
              border:  1px;
              float: right;
              border-radius: 50px;
              margin-top: -45px;
              margin-right: 20px;
              background-color: rgba(0, 0, 0, 0.164);
          }
          .icon{
              height: 35px;
              width: 35px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
          }
          .addresslist{
              width: 95%;
              margin-top: -10px;
          }
          .btn{
              align-items: flex-end;
            justify-content: flex-end;
          }
      }
      @media screen and (max-width:361px) {
        .block {
            width: 100%;
            height: 425px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
          //   padding: 16px; /* Optional: add some padding */
          }
        .rowcl{
            margin-top: -10px;
        }
        .mainlist{
            width: 100%;
            height: 52px;
            border:  1px;
        }
        .countrylist{
            width: 95%;
            margin-top: -25px;
        }
        .iconlist{
            height: 40px;
            width: 40px;
            border:  1px;
            float: right;
            border-radius: 50px;
            margin-top: -56px;
            margin-right: 20px;
            background-color: rgba(0, 0, 0, 0.164);
        }
      }
    
  }