<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">
<!-- content starts here -->

<ion-content [fullscreen]="true">
  <ion-grid class="main">

<ion-row class="ion-margin ion-margin-top">
  <ion-col size="3">
    <a class="see-more-btn" (click)="back()">Back</a>
  </ion-col>
</ion-row>

    <ion-row class="ion-margin ion-margin-top">
      <ion-col size-md="1" size="3">
        <ion-list class="a"><p class="ap">{{arry.text1}} </p></ion-list>
      </ion-col>
      <ion-col size-md="1" size="2"><ion-badge class="a1" color="medium"><p class="ap1">{{arry.text2}} </p></ion-badge></ion-col>
      <ion-col size-md="4" size="7"></ion-col>
    </ion-row>

<ion-row class="ion-margin-top ion-margin">
  <ion-col size-md="6" size="12">
    <ion-list class="b">
      <ion-list class="b1">
        <p class="bp1">{{arry1.text3}} </p>
        <p class="bp2">{{arry1.text4}} </p>
      </ion-list>
      <ion-list class="b2">
        <ion-list class="b3"><ion-icon id="my-modal" class="bi" color="light" name="{{arry1.icon1}}"></ion-icon></ion-list>
      </ion-list>
    </ion-list>
    <!-- modal -->
    <ion-modal trigger="my-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">
<ion-grid>
  <ion-row class="ion-margin-top ion-margin">
    <ion-col size="8">
      <ion-list class="shiplist">
      <p class="shipadd">{{arrymodal.shippingaddress}} </p>
    </ion-list>
    </ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row class="rowcl">
    <ion-col size="12">
      <ion-list class="mainlist">
      <ion-list class="countrylist">
        <ion-item>
          <ion-input [(ngModel)]="shippingData.country" labelPlacement="floating" placeholder="Pakistan">
            <div slot="label">Country</div>
          </ion-input>
        </ion-item>
      </ion-list>
      <ion-list class="iconlist">
        <ion-icon class="icon" name="arrow-forward-outline" color="light"></ion-icon>
      </ion-list>
    </ion-list>
    </ion-col>
    <ion-col size="12">
      <ion-list class="addresslist">
        <ion-item>
          <ion-input [(ngModel)]="shippingData.address" labelPlacement="floating" placeholder="H2 Block, Johar Town">
            <div slot="label">Address</div>
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="12">
      <ion-list class="addresslist">
        <ion-item>
          <ion-input [(ngModel)]="shippingData.city" labelPlacement="floating" placeholder="Lahore">
            <div slot="label">Town / City</div>
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="12">
      <ion-list class="addresslist">
        <ion-item>
          <ion-input [(ngModel)]="shippingData.postcode" labelPlacement="floating" placeholder="05450">
            <div slot="label">Postcode</div>
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
<ion-button class="btn" (click)="saveChanges()">{{arrymodal.savechanges}} </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
        </div>
      </ng-template>
    </ion-modal>
  </ion-col>
</ion-row>
<!-- all in 1 row -->
<ion-row>
  <ion-col size="12" size-md="6">
    <ion-row class="ion-margin-top ion-margin">
      <ion-col size="12" *ngFor="let item of data; let i=index">
        <ion-list class="c">
          <ion-card class="cardc">
            <img class="imgc" [src]="item.img1" alt="">
            <ion-list class="ion-list-overlay">
              <ion-icon class="ci" color="danger" name="trash-outline" (click)="presentDeleteAlert(i)"></ion-icon>
            </ion-list>
          </ion-card>
          <ion-list class="c1">
            <p class="cp">{{item.text5}}</p>
            <p class="cp1">{{item.text6}} <span>{{item.size}}</span></p>
            <p class="new">Subtotal: ${{item.subtotal}}</p>
          </ion-list>
          <ion-list class="c2">
            <ion-list class="cc1"><p class="cp2">${{item.price}}</p></ion-list>
            <ion-list class="cc2">
              <ion-button fill="clear" class="da" (click)="decreaseQuantity(i)">
                <ion-icon class="d2" color="primary" name="remove-circle-outline"></ion-icon>
              </ion-button>
              <ion-list class="db"><p class="dbp">{{item.quantity}}</p></ion-list>
              <ion-button fill="clear" class="da" (click)="increaseQuantity(i)">
                <ion-icon class="d2" color="primary" name="add-circle-outline"></ion-icon>
              </ion-button>
            </ion-list>
          </ion-list>
        </ion-list>
      </ion-col>
    

      <!-- <ion-col  size="12">
        <ion-list class="c">
          <ion-card class="cardc">
            <img class="imgc" src="{{arry3.img2}}" alt="">
          <ion-list class="ion-list-overlay"><ion-icon class="ci" color="danger" name="{{arry3.icon5}}"></ion-icon></ion-list>
          </ion-card>
          <ion-list class="c1">
            <p class="cp">{{arry3.text9}} </p>
            <p class="cp1">{{arry3.text10}} </p>
            <p class="new">{{arry3.textnew}} </p>
          </ion-list>
          <ion-list class="c2">
            <ion-list class="cc1"><p class="cp2">{{arry3.text11}} </p></ion-list>
            <ion-list class="cc2">
              <ion-list class="da"><ion-icon class="d2" color="primary" name="{{arry3.icon6}}"></ion-icon>
              </ion-list>
              <ion-list class="db"><p class="dbp">{{arry3.text12}} </p></ion-list>
              <ion-list class="da"><ion-icon class="d2" color="primary" name="{{arry3.icon7}}"></ion-icon></ion-list>
            </ion-list>
          </ion-list>
        </ion-list>
      </ion-col> -->
    </ion-row>

  </ion-col>
  <ion-col size="12" size-md="6">
    <ion-row class="ion-margin-top ion-margin ff">
      <ion-col size="6"><p class="ff1">{{arry4.text13}} </p></ion-col>
      <ion-col size="6"><p class="ff2">{{arry4.mainsubtotal}} </p></ion-col>
      <ion-col size="6"><p class="f">{{arry4.text15}} </p></ion-col>
      <ion-col size="6"><p class="f1">{{arry4.delivery}} </p></ion-col>
      <ion-col size="6"><p class="f">{{arry4.text17}} </p></ion-col>
      <ion-col size="6"><p class="f1">{{arry4.total}} </p></ion-col>
      <ion-col size="6"></ion-col>
      <ion-col size="6"><ion-button class="f2" (click)="checkout()"><p>{{arry4.checkout}} </p></ion-button></ion-col>
    </ion-row>
  </ion-col>
</ion-row>




<ion-row>
  <ion-col class="y" size-md="6" size="6">1</ion-col>
  <ion-col class="y" size-md="6" size="6">1</ion-col>
  <ion-col class="y" size-md="6" size="6">1</ion-col>
  <ion-col class="y" size-md="6" size="6">1</ion-col>
</ion-row>
  </ion-grid>



</ion-content>

<!-- footer -->
<ion-footer>
  <ion-grid>
    <ion-row style="background-color: white;">
      <ion-col class="ion-text-center p">
        <ion-icon name="home-outline" size="large" color="primary" (click)="home()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="heart-outline" size="large" color="primary" ></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="document-text-outline" size="large" color="primary" (click)="figmap7()"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="bag-handle-outline" size="large" color="dark"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="person-outline" size="large" color="primary" (click)="setting()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>

