
<ion-content [fullscreen]="true">
  
  
  <ion-card class="card">
    <ion-grid>
      <ion-row>
        <ion-col><ion-icon name="arrow-back-outline" class="card1"></ion-icon></ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col><p class="card2">Register</p></ion-col>
      </ion-row>
    </ion-grid>
    <ion-card-header>
      <ion-card-title class="card3">Sign In</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et</ion-card-content>

    <ion-card class="carda">
      <ion-item lines="none">
        <ion-input class="carda1" placeholder="Username"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input class="carda2" placeholder="Password"></ion-input>
      </ion-item>
      <ion-list class="carda3"><p>Forgot Password?</p></ion-list>
      <ion-list class="carda4"><p>Sign In</p></ion-list>

      <ion-chip class="a">
        <ion-avatar>
          <ion-icon class="a1" name="logo-google"></ion-icon>
        </ion-avatar>
        <ion-label class="a2">Continue with Google</ion-label>
        <ion-icon class="a3" name="arrow-forward-outline"></ion-icon>
      </ion-chip>

      <ion-chip class="b">
        <ion-avatar>
          <ion-icon class="a1" name="logo-facebook"></ion-icon>
        </ion-avatar>
        <ion-label class="a2">Continue with Facebook</ion-label>
        <ion-icon class="a3" name="arrow-forward-outline"></ion-icon>
      </ion-chip>
    </ion-card>
  </ion-card>

</ion-content>
