
<ion-content [fullscreen]="true">
  <ion-list class="ac">
    <ion-icon class="ac1" name="beer-outline"></ion-icon>
  </ion-list>
  <p class="b1">deeps <br> <span class="c">BEERCAFE</span></p>

  
  <ion-card class="card">
    
    <ion-card-header>
      <ion-card-title class="card1">Welcome</ion-card-title>
    </ion-card-header>
    <ion-card-content class="card2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    </ion-card-content>
  
    <ion-button fill="clear" class="card3">Sign In</ion-button>
    <ion-button fill="clear" class="card4">Sign Up</ion-button>
  </ion-card>



</ion-content>
