

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-list class="a">
      <ion-list class="a1"></ion-list>
      <ion-list class="ion-text-center ion-text-dark a2">Rockstar</ion-list>
      <ion-list class="ion-text-center ion-text-dark a3">#1 Singer | Musicians</ion-list>
    </ion-list>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center b1" size="4">256 <br> <span class="b2">Following</span></ion-col>
      <ion-col class="ion-text-center b1" size="4">22.4k <br><span class="b2">Followers</span></ion-col>
      <ion-col class="ion-text-center b1" size="4">10k <br> <span class="b2">Likes</span></ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col size="6">
        <ion-list class="c">
          <ion-label class="c1">FOLLOW</ion-label>
        </ion-list>
      </ion-col>
      <ion-col size="6">
        <ion-list class="cc">
          <ion-label class="c1">MESSAGE</ion-label>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col class="ion-text-center d" size="3">Photo</ion-col>
      <ion-col class="ion-text-center d" size="3">Video</ion-col>
      <ion-col class="ion-text-center d" size="3">About</ion-col>
      <ion-col class="ion-text-center d" size="3">Favorite</ion-col>
    </ion-row>
    <ion-list class="e"></ion-list>
    <ion-list class="f"></ion-list>
    <ion-list class="g"></ion-list>
    <ion-list class="h"></ion-list>

  </ion-grid>
</ion-content>
