.a{
    height: 100%;
    width: 100%;
    border:  1px;
    background-color: rgba(255, 182, 193, 0.308);
}
.aaa{
    border:  1px;
    height: 85px;
    background: transparent;
}
.aa{
    border:  1px;
    font-size: 22px;
    line-height: 1.7;
}
.aa1{
    font-size: 21px;
    font-weight: bold;
}
.aa2{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    position: absolute;
}
.badge{
    height: 30px;
    width: 30px;
    position: absolute;
    border-radius: 50px;
    margin: 30px;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;

}
.a1{
    border:  1px;
    height: 75px;
    width: 70px;
    border-radius: 10px;
    margin-left: 5px;
    background-image: url(./avatar.jpg);
    background-position: center;
    background-size: cover;

}
.b{
    border:  1px;
    height: 100px;
}
.b1{
    border:  1px;
}
.b2{
    border: 1px;
    height: 85px;
    width: 100%;
    border-radius: 20px;
}
.bb2{
    height: 40px;
    width: 40px;
    position: absolute;
    margin-top: 12px;
    margin-left: 13px;
}
.bb3{
    border:  1px;
    height: 40px;
    width: 60%;
    margin-top: 11px;
    margin-left: 72px;
    font-size: 25px;
}
.b3{
    border:   1px;
    height: 85px;
    width: 87px;
    border-radius: 15px;
    background-color: #ea4e3a;
}
.bb4{
    height: 40px;
    width: 40px;
    margin-top: 13px;
    margin-left: 24px;
    position: absolute;

}
.c{
    border:  1px;
}
.c1{
    font-size: 32px;
    font-weight: bold;
}
.d{
    border:  1px;
}
.d1{
    height: 300px;
    width: 100%;
    border:  1px;
    border-radius: 30px;

}
.d2{
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-left: 15px;
}
.d3{
    height: 100px;
    width: 100%;
    border:  1px;
    background-image: url(./pic1.jpg);
    background-position: center;
    background-size: cover;
}
.d4{
    border:  1px;
    height: 70px;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
.d5{
    font-size: 16px;

}
.d6{
    height: 70px;
    width: 100%;
    border:  1px;
}
.d7{
    height: 70px;
    width: 70px;
    border:  1px;
    float: right;
    margin: auto;
    margin-top: -7px;
    border-top-left-radius: 30px;
    background-color: #ea4e3a;
}
.dd7{
    color: white;
    height: 40px;
    width: 40px;
    margin: 13px;
    margin-top: 5px;
}
.d8{
    height: 70px;
    width: 100px;
    border:  1px;
    float: left;
}
.d9{
    font-size: 27px;
    font-weight: bold;
    color: #ea4e3a;
    margin: 5px;
    margin-top: 10px;

}
.d10{
    height: 100px;
    width: 100%;
    border:  1px;
    background-image: url(./pic2.jpg);
    background-position: center;
    background-size: cover;
}
.e{
    border:  1px;
    background-color: white;
    border-radius: 20px;
}
.e1{
    height: 120px;
    width: 116px;
    border:  1px;
    float: left;
    background-image: url(./pic3.jpg);
    background-position: center;
    background-size: cover;
}
.e2{
    height: 120px;
    width: 120px;
    border:  1px;
}
.e3{
    font-size: 21px;
    font-weight: bold;

}
.e4{
    font-size: 16px;
    line-height: 2.8;
}
.e5{
    font-size: 25px;
    font-weight: bold;
    color: #ea4e3a;
}
.e6{
    height: 120px;
    width: 116px;
    border:  1px;
    float: right;
}
.e7{
    height: 75px;
    width: 75px;
    border:  1px;
    float: right;
    margin: auto;
    margin-top: 40px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #ea4e3a;
}
.f{
    border:  1px;
    background-color: #ea4e3a;
    height: 100px;
    border-radius: 15px;
}
.f1{
    height: 95px;
    width: 100%;
    border:  1px;
    background: transparent;
}
.f2{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.637);
}