

<ion-content [fullscreen]="true">
  <ion-grid class="a">
    <ion-row class="ion-margin-top ion-margin aaa">
      <ion-col class="aa" size-md="2" size="3">
        <ion-list class="a1"></ion-list>
      </ion-col>
      <ion-col class="aa" size-md="9" size="7">Hi Ali! <br> <span class="aa1">Let's get some item!</span></ion-col>
      <ion-col class="aa" size-md="1" size="2">
        <ion-icon class="aa2"  name="cart-outline" size="large"></ion-icon>
        <ion-badge class="badge" color="danger">2</ion-badge>
      </ion-col>
    </ion-row>
    <!-- Search item Row -->
    <ion-row class="ion-margin-top ion-margin b">
      <ion-col class="b1" size-md="11" size="9">
        <ion-list class="b2">
          <ion-icon class="bb2" name="search-outline" size="large"></ion-icon><ion-list class="bb3">Search item...</ion-list>
        </ion-list>
      </ion-col>
      <ion-col class="b1" size-md="1" size="3">
        <ion-list class="b3">
          <ion-icon class="bb4" name="options-outline"></ion-icon>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Text Popular Item  -->
    <ion-row class="ion-margin-top ion-margin c">
      <ion-col class="c1" size="8">Popular item</ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row class="ion-margin-top ion-margin d">
      <!-- 1st card -->
      <ion-col size-md="3" size="6">
        <ion-list class="d1">
          <ion-icon class="d2" name="heart" color="danger"></ion-icon>
          <ion-list class="d3"></ion-list>
          <ion-list class="d4">Rambutan <br> <span class="d5">Fruit</span></ion-list>
          <ion-list class="d6">
            <ion-list class="d7"><ion-icon class="dd7" name="add-outline"></ion-icon></ion-list>
            <ion-list class="d8">
              <ion-label class="d9">$22.99</ion-label>
            </ion-list>
          </ion-list>
        </ion-list>
      </ion-col>
      <!-- 2nd card -->
      <ion-col size-md="3" size="6">
        <ion-list class="d1">
          <ion-icon class="d2" name="heart-outline"></ion-icon>
            <ion-list class="d10"></ion-list>
          <ion-list class="d4">Durian Monty <br> <span class="d5">Fruit</span></ion-list>
          <ion-list class="d6">
            <ion-list class="d7"><ion-icon class="dd7" name="add-outline"></ion-icon></ion-list>
            <ion-list class="d8">
              <ion-label class="d9">$32.99</ion-label>
            </ion-list>
          </ion-list>
        </ion-list>
      </ion-col>
    
    <!-- 3rd card -->
      <ion-col size-md="3" size="6">
        <ion-list class="d1">
          <ion-icon class="d2" name="heart" color="danger"></ion-icon>
          <ion-list class="d3"></ion-list>
          <ion-list class="d4">Rambutan <br> <span class="d5">Fruit</span></ion-list>
          <ion-list class="d6">
            <ion-list class="d7"><ion-icon class="dd7" name="add-outline"></ion-icon></ion-list>
            <ion-list class="d8">
              <ion-label class="d9">$22.99</ion-label>
            </ion-list>
          </ion-list>
        </ion-list>
      </ion-col>
      <!-- 4th card -->
      <ion-col size-md="3" size="6">
        <ion-list class="d1">
          <ion-icon class="d2" name="heart-outline"></ion-icon>
          <ion-list class="d10"></ion-list>
          <ion-list class="d4">Durian Monty <br> <span class="d5">Fruit</span></ion-list>
          <ion-list class="d6">
            <ion-list class="d7"><ion-icon class="dd7" name="add-outline"></ion-icon></ion-list>
            <ion-list class="d8">
              <ion-label class="d9">$32.99</ion-label>
            </ion-list>
          </ion-list>
        </ion-list>
      </ion-col>
    </ion-row>

    <!-- Text Recent Shop -->
    <ion-row class="ion-margin-top ion-margin c">
      <ion-col class="c1" size="4">Recent shop</ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <!-- Strawberry Row -->
    <ion-row class="ion-margin-top ion-margin e">
      <ion-col size-md="6" size="12">
        <ion-list class="e1"></ion-list>
        <ion-list class="e6">
          <ion-list class="e7"><ion-icon class="dd7" name="add-outline"></ion-icon></ion-list>
        </ion-list>
        <ion-list class="e2">
          <ion-label class="e3">Strawberry <br> <span class="e4">Fruit</span> <br> <span class="e5">$18.99</span></ion-label>
        </ion-list>
      </ion-col>
      <ion-col size-md="6" size="12">
        <ion-list class="e1"></ion-list>
        <ion-list class="e6">
          <ion-list class="e7"><ion-icon class="dd7" name="add-outline"></ion-icon></ion-list>
        </ion-list>
        <ion-list class="e2">
          <ion-label class="e3">Strawberry <br> <span class="e4">Fruit</span> <br> <span class="e5">$18.99</span></ion-label>
        </ion-list>
      </ion-col>
    </ion-row>
    <!-- Last Icons Row -->
<ion-row class="ion-margin-top ion-margin f">
  <ion-col size="3">
    <ion-list class="f1">
      <ion-icon class="f2" name="home-outline"></ion-icon>
    </ion-list>
  </ion-col>
  <ion-col size="3">
    <ion-list class="f1">
      <ion-icon class="f2" name="heart-outline"></ion-icon>
    </ion-list>
  </ion-col>
  <ion-col size="3">
    <ion-list class="f1">
      <ion-icon class="f2" name="bookmark-outline"></ion-icon>
    </ion-list>
  </ion-col>
  <ion-col size="3">
    <ion-list class="f1">
      <ion-icon class="f2" name="person-outline"></ion-icon>
    </ion-list>
  </ion-col>
</ion-row>
  </ion-grid>



  

</ion-content>
