.alert-wrapper.sc-ion-alert-md {
  box-shadow: none;
  background: transparent;
}

.alert-head.sc-ion-alert-md + .alert-message.sc-ion-alert-md {
  background: white;
  border-radius: 20px 20px 0 0;
  text-align: center;
}

.alert-button-group.sc-ion-alert-md {
  background: white;
  border-radius: 0 0 20px 20px;
  text-align: center;
}

.alert-button.sc-ion-alert-md {
  margin: auto;
}

.alert-header {
  padding-top: 15px;
}

.swp1 {
  height: 55px;
  width: 55px;
  border-radius: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}

.sw {
  margin-top: -8px;
}
.alert-button.sc-ion-alert-md {
  border-radius: 2px;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 8px;
  margin-inline-end: 8px;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  background-color: #1c1a1aed;
  color: #e7dcdc;
  font-weight: 500;
  text-align: end;
  text-transform: uppercase;
  overflow: hidden;
}