.a{
    height: 100%;
    width: 100%;
    border:  1px;
}
.b{
    font-weight: bold;
}
.b1{
    height: 20px;
    width: 20px;
    color: black
}
.c1{
    border:  1px;
    height: 11%;
    margin-top: 2%;
}
.c2{
    border:  1px;
    width: 25%;
}
.c3{
    height: 85px;
    width: 85px;
    border:  1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-image: url(./plus1.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.c4{
    height: 85px;
    width: 85px;
    border: solid 1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-image: url(./girl.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.c5{
    height: 85px;
    width: 85px;
    border:  1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-image: url(./gym.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.c6{
    height: 85px;
    width: 85px;
    border:  1px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-image: url(./health.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.d{
    font-weight: bold;
    font-size: 20px;
    // position: absolute;
    // top: 50%; 
    // left: 50%; 
    // transform: translate(-50%, -50%);

}
.e{
    border: 1px;
    margin-top: 10%;
    height: 10%;

}
.e1{
    border:   1px;
}
.e11{
    height: 75px;
    width: 75px;
    border:  1px;
    border-radius: 100px;
    position: absolute;
    top: 40%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    background-image: url(./coolBoy.jpeg);
    background-position: center;
    background-size: cover;
}

.e2{
    border:  1px;
}
.e21{
    font-weight: bold;
    font-size: 19px;
}
.e22{
    font-weight: 10;
    font-size: 14px;
}
.e4{
    border:   1px;
}
.e41{
    margin-left: 50px;
}

.f{
    height: 280px;
    width: 92%;
    border:  1px;
    border-radius: 20px;
    margin: auto;
    background-image: url(./headphone.jpeg);
    background-position: center;
    background-size: cover;
}
.g1{
    height: 75px;
    width: 75px;
    border:  1px;
    border-radius: 100px;
    position: absolute;
    top: 40%; 
    left: 40%; 
    transform: translate(-50%, -50%);
    background-image: url(./coolgirl.jpeg);
    background-position: center;
    background-size: cover;
}
.g{
    height: 280px;
    width: 92%;
    border:  1px;
    border-radius: 20px;
    margin: auto;
    background-image: url(./heart.jpeg);
    background-position: center;
    background-size: cover;
}
@media screen and (min-width:900px) {
    .e41{
        margin-left: 250px;
    }  
    .e11{
        margin-left: -80px;
    }
    .g1{
        margin-left: -80px;
    } 
}