<ion-content [fullscreen]="true">


<ion-list class="main">
  



  <ion-list class="ab"></ion-list>
  <ion-list class="ad"></ion-list>
  <ion-list class="data">
    <ion-list class="ac">
      <ion-icon class="ac1" name="beer-outline"></ion-icon>
    </ion-list>
    <ion-list class="f">
      <p class="b1">deeps <br> <span class="c">BEERCAFE</span></p>
    </ion-list>
  </ion-list>  
  
  
  



</ion-list>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center p">
        <ion-icon name="home-outline" size="large" (click)="figmap1()" color="primary"></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="heart-outline" size="large" color="primary" ></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="document-text-outline" size="large" color="primary" ></ion-icon>
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="bag-handle-outline" size="large" color="primary" (click)="cart()"></ion-icon>
        <!-- <ion-badge shape="round" class="ion-badge">{{figmap4arr.cart}} </ion-badge> -->
      </ion-col>
      <ion-col class="ion-text-center p">
        <ion-icon name="person-outline" size="large" color="dark" ></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
</ion-content>