<ion-content [fullscreen]="true">
  <ion-grid class="a">
    <ion-row>
      <ion-col size-md="6" size="12">
    <ion-list class="a1">
      <ion-list class="x">
      <ion-row class="ion-margin-top ion-margin">
        <ion-col size-md="2" size="3">
          <ion-list class="b">
            <ion-icon name="chevron-back-outline" class="bb"></ion-icon>
          </ion-list>
        </ion-col>
        <ion-col size-md="8" size="6"></ion-col>
        <ion-col size-md="2" size="3">
          <ion-list class="b1">
            <ion-icon name="heart" color="success" class="bb"></ion-icon>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row class="ion-margin-top ion-margin">
        <ion-col size-md="4" size="8">
          <ion-label class="c">Nike Air Special<br>Edition</ion-label><ion-icon class="c1"
            name="arrow-forward-outline"></ion-icon>
        </ion-col>
        <ion-col size-md="6" size="1"></ion-col>
        <ion-col size-md="2" size="3">
          <ion-list class="c2">
            <ion-label class="c3">$60</ion-label>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-list>

      <swiper-container class=" z" pagination="true" [breakpoints]="{
        '360':{
          'slidesPerView':1,
          'spaceBetween':10,
        },
        '760':{
          'slidesPerView':3,
          'spaceBetween':10,
        },
        '1221':{
          'slidesPerView':2,
          'spaceBetween':10,
        },
      }">
      <swiper-slide>
        <ion-list class="d">
        <img class="imgd1" src="../../assets/new.store/br-removebg-preview.png" alt="">
        </ion-list>
      </swiper-slide>
      <swiper-slide>
        <ion-list class="d">
          <img class="imgd1" src="../../assets/new.store/nike1-removebg-preview.png" alt="">
          </ion-list>
      </swiper-slide>
      <swiper-slide>
        <ion-list class="d">
          <img class="imgd1" src="../../assets/new.store/nike2-removebg-preview.png" alt="">
          </ion-list>
      </swiper-slide>
    </swiper-container>
    </ion-list>
  </ion-col>
    <ion-col size-md="6" size="12">
    <ion-row class="ion-margin-top ion-margin">
      <ion-col size-md="1" size="3">
        <ion-label class="e">Size</ion-label>
      </ion-col>
      <ion-col size-md="10" size="6"></ion-col>
      <ion-col size-md="1" size="3">
        <ion-label class="e1">Size giode</ion-label>
      </ion-col>
    </ion-row>
    
      <swiper-container class="ion-margin-top ion-margin"  [breakpoints]="{
        '360':{
          'slidesPerView':6,
          'spaceBetween':30,
        },
        '760':{
          'slidesPerView':5,
          'spaceBetween':10,
        },
        '1221':{
          'slidesPerView':10,
          'spaceBetween':10,
        },
        
    
      }">
        <swiper-slide><ion-list class="f"><ion-label class="f1">5</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">5.5</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">6</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">6.6</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">7</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">7.7</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">8</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">8.8</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">9</ion-label></ion-list></swiper-slide>
        <swiper-slide><ion-list class="f"><ion-label class="f1">9.9</ion-label></ion-list></swiper-slide>
        </swiper-container>

    <ion-row class="ion-margin-top ion-margin">
      <ion-col size-md="5" size="10">
        <ion-label class="g">Description:</ion-label><ion-icon class="g1" name="trending-down-outline"></ion-icon>
      </ion-col>
      <ion-col size-md="7" size="2"></ion-col>
    </ion-row>
    <ion-list class="ion-margin-top ion-margin h">
      <ion-label class="h1">Lorem ipsum dolor sit amet consectetur. Libero proin cras diam risus  posuere ultrices. Lorem tellus ultrices platea sagittis et ornare. Integer  orci cras blandit malesuada.</ion-label>
    </ion-list>
    <ion-list class="ion-margin-top ion-margin i">
      <ion-label class="i1">Add to Card</ion-label>
    </ion-list>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>